model:
  models:
    - name: ordered_logistic_model
      config:
        tag: ADL_organism_type_model_llm_grader_model_id
        main_effects: ["ADL", "interactions", "organism_type", "model", "llm", "grader_model_id"]
        num_classes: 5  # for 0-4 scale
        effect_coding_for_main_effects: true
    - name: ordered_logistic_model
      config:
        tag: ADL_interactions_organism_type_model_llm_grader_model_id
        main_effects: ["ADL", "interactions", "organism_type", "model", "llm", "grader_model_id"]
        interactions: [["llm", "grader_model_id"]]
        num_classes: 5  # for 0-4 scale
        effect_coding_for_main_effects: true
    

data_process:
  processors:
    - extract_observed_feature: {feature_name: score}
    - extract_features: {categorical_features: [model,organism,organism_type,ADL,run_idx,interactions,llm,grader_model_id,grader_run_idx]}

check:
  checkers:
    # - prior_predictive_plot
    - divergences
    - r_hat
    - ess_bulk
    - ess_tail
    # - posterior_predictive_plot
    - waic

# communicate:
#   path: hibayes/custom.py
#   communicators:
#     # - summary_table
#     # - forest_plot_custom: {combined: true, vertical_line: 0, vars: ["ADL_effects", "interactions_effects", "organism_type_effects", "model_effects"]}
#     # - forest_plot_custom: {vars: ["ADL_effects"], combined: true, vertical_line: 0}
#     - model_comparison_plot: {ic: waic}
#     - model_comparison_plot: {ic: loo}
